@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1163 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 155px;
    max-width: 310px;
    max-height: 220px;
    width: 57px;
    height: 174px;
    background: #ffffff;
    color: #000000;
    text-align: left;
}

figure.snip1163 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

figure.snip1163 img {
    opacity: 1;
    width: 100%;
    transition: opacity 0.4s;
    background: #bababb;
    height: 179px;
}

figure.snip1163 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 134%;
}

figure.snip1163 figcaption > div {
  height: 29%;
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;
}

figure.snip1163 h2,
figure.snip1163 p {
  margin: 0;
  padding: 0 30px;
  position: absolute;
  width: 100%;
  left: 0;
}

figure.snip1163 h2 {
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  top: 66%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

figure.snip1163 p {
  opacity: 0;
  font-size: 0.8em;
  font-weight: 500;
  -webkit-transform: translate3d(0%, -150%, 0);
  transform: translate3d(0%, -150%, 0);
}

figure.snip1163 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

figure.snip1163:hover img,
figure.snip1163.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

figure.snip1163:hover figcaption h2,
figure.snip1163.hover figcaption h2 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  width: 57px;
  height: 76px;
  white-space: pre-line;
  opacity: 0.9;
  color: #000000;
}

figure.snip1163:hover figcaption p,
figure.snip1163.hover figcaption p {
  opacity: 0.7;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


